body{
    width: 80%;
    background-image: url("bulletinmedia/aboutpgbg.png");
    background-repeat: no-repeat;
    background-size:cover;
    
}

.sticky{
    position:absolute;
    height: auto;
    text-align: center;
    display: inline-block;
   
}

.button {
  text-decoration: underline;
  cursor: pointer;
}