body{
    width: 80%;
    background-image: url("bulletinmedia/aboutpgbg.png");
    background-repeat: no-repeat;
    background-size:cover;
    
}

.updatessticky{
    position:absolute;
    height: auto;
    text-align: center;
    display: inline-block;
    top: 500px;
    left: 800px;
}

.button {
  text-decoration: underline;
  cursor: pointer;
}